.featureTopicsArea {
    background-color: #FFE9BD;
    border-radius: 25px;
    /* padding: 20px; */
}

.featureTopicsArea:hover {
    background-color: white;
    /* width: 230px; */
    /* height: 164px; */
}

.featureIcon {
    background-color: #FFE9BD;
    color: #FEC85B;
    width: 60px;
    padding: 12px;
    margin-top: -27px;
    border: 2px solid #FEC85B;
    border-radius: 50%;
}


.featureTopics {
    font-family: "mastro-caption";
    font-size: 16px;
    padding: 25px 0px;
}