.logo {
    width: 115px;
}

.app_image {
    position: absolute;
    width: 460px;
    padding: 0 0 60px 0;
    margin: 108px 0 0 890px;
    left: 0;
    top: 0;
}


.nav_hero_bg {
    position: relative;
    background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");

    /* height: 750px; */
    /* width: 1300px; */
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 0 100%);
}

.hero_area {
    padding: 50px 50px;
}

.discount {
    background-color: rgba(122, 122, 122, 0.436);
    padding: 7px 12px;
}

.discount_star {
    background: image("../../../../assets/parcent-star.png");
    background-size: cover;
    width: 25px;
    margin-bottom: 5px;
}

.hero_heading {
    font-family: "mastro-caption";
    font-size: 66px;
    /* font-weight: 600; */
    line-height: 66px;
}

.hero_sub_text {
    font-size: 14px;
    color: rgb(219, 214, 214);
}

.hero_text_middle {
    color: gold;
}

.timmer_counter_number {
    color: gold;
}



@media (min-width: 1024px)and (max-width: 1439.98px) {
    .nav_hero_bg {
        position: relative;
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* height: 782px; */
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 100%);
    }

    .app_image {
        position: absolute;
        width: 400px;
        padding: 0 0 60px 0;
        margin: 122px 0 0 560px;
        left: 0;
        top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .nav_hero_bg {
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* width: 99.8%; */
        /* height: 545px; */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        clip-path: polygon(0 0%, 100% 0, 100% 78%, 0 100%);
    }

    .app_image {
        position: absolute;
        width: 260px;
        padding: 0 0 60px 0;
        margin: 160px 0 0 437px;
        left: 0;
        top: 0;
    }

    .hero_heading {
        font-size: 37px;
        line-height: 40px;
    }

    .hero_area {
        align-items: center;
        padding: 16px 50px;
    }

    .hero_sub_text {
        align-items: center;
    }

    .discount {
        background-color: rgba(122, 122, 122, 0.436);
        padding: 7px 12px;
        font-size: 13px;
    }

    .timmer_counter_number {
        font-size: 19px;
    }

    .payments_btn {
        padding: 6px 8px;
    }

    .payments_outLine_btn {
        text-decoration: none;
        /* background-color: none; */
        margin: 8px 0 0 0;
        color: white;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .payments_outLine_btn:hover {
        background-color: rgb(136, 5, 136);
        margin: 0 0 0 0;
        color: white;
        padding: 6px 8px;
        border: none;
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .nav_hero_bg {
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* width: 99.8%; */
        /* height: 492px; */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 100%);
    }

    /* .app_image {
        display: none;
    } */

    .hero_heading {
        text-align: center;
        font-size: 30px;
        line-height: 33px;
    }

    .hero_area {
        align-items: center;
        padding: 15px 50px;
    }

    .hero_sub_text {
        align-items: center;
    }

    .discount {
        background-color: rgba(122, 122, 122, 0.436);
        padding: 7px 12px;
        font-size: 13px;
    }

    .timmer_counter_number {
        font-size: 19px;
    }

    .payments_btn {
        padding: 6px 8px;
    }

    .payments_outLine_btn {
        text-decoration: none;
        /* background-color: none; */
        margin: 8px 0 0 0;
        color: white;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .payments_outLine_btn:hover {
        background-color: rgb(136, 5, 136);
        margin: 0 0 0 0;
        color: white;
        padding: 6px 8px;
        border: none;
    }

}