.logo {
    width: 200px;
}

.app_image {
    position: absolute;
    width: 460px;
    height: 700px;
    padding: 0 0 60px 0;
    margin: 108px 0 0 890px;
    left: 0;
    top: 0;
}

.appPlayStore {
    width: 175px;
}

.appPlayStore:hover {
    opacity: .5;
}



.nav_hero_bg {
    position: relative;
    background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");

    /* height: 750px; */
    /* width: 1300px; */
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 0 100%);
}

.hero_area {
    padding: 50px 50px;
}

.star_dialogue {
    /* font-family: "mastro-caption"; */
    /* font-size: 12px; */
    /* background-color: rgba(122, 122, 122, 0.436); */
    /* padding: 7px 12px; */
    color: #2dc680
}

.star_icon {
    color: gold;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.hero_heading {
    font-family: "mastro-caption";
    font-size: 66px;
    /* font-weight: 600; */

    line-height: 66px;
}

.hero_sub_text {
    font-size: 14px;
    color: rgb(219, 214, 214);
}

.hero_text_middle {
    color: #C62E4A;
}

.timmer_counter_number {
    color: gold;
}

.timmer_sub_text {
    font-family: "mastro-caption";
    font-size: 14px;
}




@media (min-width: 2560px) {
    .app_image {
        position: absolute;
        width: 400px;
        height: 670px;
        padding: 0 0 60px 0;
        margin: 96px 0 0 1417px;
        left: 0;
        top: 0;
    }
}



@media (min-width: 1440px) and (max-width: 2559.98px) {
    .app_image {
        position: absolute;
        width: 460px;
        height: 700px;
        padding: 0 0 60px 0;
        margin: 108px 0 0 890px;
        left: 0;
        top: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
    .app_image {
        position: absolute;
        width: 400px;
        height: 690px;
        padding: 0 0 60px 0;
        margin: 150px 0 0 719px;
        left: 0;
        top: 0;
    }

}

@media (min-width: 1024px) and (max-width: 1199.98px) {
    .nav_hero_bg {
        position: relative;
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* height: 782px; */
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 100%);
    }

    .app_image {
        position: absolute;
        width: 394px;
        height: 617px;
        padding: 0 0 60px 0;
        margin: 188px 0 0 553px;
        left: 0;
        top: 0;
    }

    .star_icon {
        color: gold;
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
    .app_image {
        position: absolute;
        width: 360px;
        height: 570px;
        padding: 0 0 60px 0;
        margin: 273px 0 0 575px;
        left: 0;
        top: 0;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .nav_hero_bg {
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* width: 99.8%; */
        /* height: 545px; */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        clip-path: polygon(0 0%, 100% 0, 100% 78%, 0 100%);
    }

    .app_image {
        position: absolute;
        width: 260px;
        height: 446px;
        padding: 0 0 60px 0;
        margin: 160px 0 0 437px;
        left: 0;
        top: 0;
    }

    .appPlayStore {
        width: 135px;
    }


    .hero_heading {
        font-size: 37px;
        line-height: 40px;
    }

    .hero_area {
        align-items: center;
        padding: 16px 50px;
    }

    .hero_sub_text {
        align-items: center;
    }

    .star_dialogue {
        padding: 7px 12px;
        font-size: 9px;
    }

    .timmer_counter_number {
        font-size: 19px;
    }

    .payments_btn {
        padding: 6px 8px;
    }

    .payments_outLine_btn {
        text-decoration: none;
        /* background-color: none; */
        margin: 8px 0 0 0;
        color: white;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .payments_outLine_btn:hover {
        background-color: rgb(136, 5, 136);
        margin: 0 0 0 0;
        color: white;
        padding: 6px 8px;
        border: none;
    }

    .timmer_sub_text {
        font-size: 12px;
    }

    .star_icon {
        color: gold;
        width: 17px;
        height: 17px;
        margin-bottom: 5px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .logo {
        width: 155px;
    }

    .nav_hero_bg {
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* width: 99.8%; */
        /* height: 492px; */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 100%);
    }

    /* .app_image {
        display: none;
    } */

    .hero_heading {
        text-align: center;
        font-size: 30px;
        line-height: 33px;
    }

    .hero_area {
        align-items: center;
        padding: 15px 50px;
    }

    .hero_sub_text {
        align-items: center;
    }

    .star_dialogue {
        font-size: 11px;
    }

    .star_icon {
        color: gold;
        width: 14px;
        height: 14px;
        margin-bottom: 5px;
    }




    .timmer_counter_number {
        font-size: 19px;
    }

    .payments_btn {
        padding: 6px 8px;
    }

    .payments_outLine_btn {
        text-decoration: none;
        /* background-color: none; */
        margin: 8px 0 0 0;
        color: white;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .payments_outLine_btn:hover {
        background-color: rgb(136, 5, 136);
        margin: 0 0 0 0;
        color: white;
        padding: 6px 8px;
        border: none;
    }

    .appPlayStore {
        width: 125px;
    }

    .timmer_sub_text {
        font-size: 12px;
    }


}

@media (min-width: 320px) and (max-width: 424.98px) {
    .logo {
        width: 155px;
    }

    .nav_hero_bg {
        background-image: url("../../../../assets/nav_hero/payments_all_nav_hero.svg");
        /* width: 99.8%; */
        /* height: 492px; */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 100%);
    }

    /* .app_image {
        display: none;
    } */

    .hero_heading {
        text-align: center;
        font-size: 30px;
        line-height: 33px;
    }

    .hero_area {
        align-items: center;
        padding: 15px 50px;
    }

    .hero_sub_text {
        align-items: center;
    }

    .star_dialogue {
        padding: 6px 5px;
        font-size: 8px;
    }

    .star_icon {
        color: gold;
        width: 14px;
        height: 14px;
        margin-bottom: 5px;
    }




    .timmer_counter_number {
        font-size: 19px;
    }

    .payments_btn {
        padding: 6px 8px;
    }

    .payments_outLine_btn {
        text-decoration: none;
        /* background-color: none; */
        margin: 8px 0 0 0;
        color: white;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .payments_outLine_btn:hover {
        background-color: rgb(136, 5, 136);
        margin: 0 0 0 0;
        color: white;
        padding: 6px 8px;
        border: none;
    }

    .appPlayStore {
        width: 125px;
    }

    .timmer_sub_text {
        font-size: 12px;
    }


}