.preIcon {
    background-image: url('../../../../../../assets/svgIcon/left-arrow.svg') !important;
    margin: -414px -1620px 0px 118px !important;
    padding: 10px 36px;
    background-color: #dff9e3;
    color: rgb(3, 75, 3) !important;
    border-radius: 20px;
}

.nextIcon {
    background-image: url('../../../../../../assets/svgIcon/right-arrow.svg') !important;
    margin: -415px -80px 0 0 !important;
    padding: 10px 36px;
    background-color: #dff9e3;
    color: rgb(3, 75, 3) !important;
    border-radius: 20px;
}


.carsosolItemArea {
    background-color: #EFFDF1;
    padding: 50px !important;
    border-radius: 15px;
}

.carsosolItemArea:hover {
    background-color: #40676a0f;
}

.feedbackQuote {
    color: #7F9B96;
    font-size: 35px;
    margin: 10px 0;
}

.feebdackText {
    color: #40676A;
    font-size: 15px;
}

.feedbackUserName {
    margin: 1px 0;
}

.feedbackUserName {
    font-family: "mastro-caption";
    font-size: 17px;
    color: #256469;
    margin-bottom: 0;
}

.feedbackUserDesig {
    font-family: "mastro-caption";
    font-size: 11px;
    color: #3E6467;
    margin-top: 0;
}

.feedbackUser {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}







@media (min-width: 1024px) and (max-width: 1439.98px) {
    .preIcon {
        margin: -392px -1072px 0px 118px !important;
        padding: 8px 32px;
    }

    .nextIcon {
        margin: -392px 0px 0 0 !important;
        padding: 8px 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .carsosolItemArea {
        padding: 27px !important;
        border-radius: 15px;
    }

    .preIcon {
        margin: -368px -673px 0px 118px !important;
        padding: 8px 32px;
    }

    .nextIcon {
        margin: -368px 20px 0 0 !important;
        padding: 8px 32px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .preIcon {
        margin: -342px 0px 0px 118px !important;
        padding: 8px 32px;
    }

    .nextIcon {
        margin: -342px 130px 0 0 !important;
        padding: 8px 32px;
    }

    .carsosolItemArea {
        padding: 23px !important;
        border-radius: 15px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {
    .preIcon {
        margin: -360px 44px 0px 118px !important;
        padding: 8px 32px;
    }

    .nextIcon {
        margin: -360px 70px 0 0 !important;
        padding: 8px 32px;
    }

    .carsosolItemArea {
        padding: 23px !important;
        border-radius: 15px;
    }
}