.securityBg {
    background-color: #F6F5EF;
}

.securityOne {
    width: 230px;
    margin: -222px 0 0 0;
    z-index: 1;
    border: 2px solid gold;
}

.securityTwo {
    width: 230px;
    border: 2px solid gold;
}

.security_icon {
    color: #2F9464;
    width: 95px;
    height: 77px;
    background-color: #D8EADA;
    border-radius: 50px;
    padding: 22px;
}

/* All text css are in paymentsAlllText.css */


@media (min-width: 1024px) and (max-width: 1439.98px) {
    .securityOne {
        width: 175px;
    }

    .securityTwo {
        width: 175px;
    }

    .security_icon {
        width: 95px;
        height: 55px;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .security_icon {
        color: #2F9464;
        width: 95px;
        height: 77px;
        background-color: #D8EADA;
        border-radius: 50px;
        padding: 16px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .securityOne {
        width: 230px;
        margin: -222px 0 0 0;
        z-index: 1;
        border: 2px solid gold;
    }

    .securityTwo {
        width: 230px;
        border: 2px solid gold;
    }


    .security_icon {
        width: 95px;
        height: 48px;
        padding: 8px;
    }
}


@media (min-width: 320px) and (max-width: 424.98px) {
    .security_icon {
        width: 120px;
        height: 57px;
        padding: 8px;
    }

    .securityOne {
        width: 230px;
        margin: 0px 0px 0px 0px;
        z-index: 1;
        border: 2px solid gold;
    }

    .securityTwo {}
}