.wrapper {
    position: relative;
    transition: all 1500ms ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "mastro-caption";
    font-size: 14px;
    line-height: 16px;
    background-color: rgba(246, 240, 240, 0.991);
    position: absolute;
    bottom: 0;
    top: 0;
    color: rgb(19, 1, 1);
    width: 100%;
    height: 100%;
    padding: 30px 20px 0px;
    border-radius: 25px;
    opacity: 0;
    transition: 1000ms;
}

.featureTopicsArea {
    background-color: #FFE9BD;
    border-radius: 25px;
    /* padding: 30px 10px; */
}

.featureTopicsArea:hover {
    background-color: white;
    /* width: 230px; */
    /* height: 164px; */
}

.featureTopics {
    font-family: "mastro-caption";
    font-size: 16px;
    padding: 38px 0px;
}

.featureIcon {
    position: absolute;
    background-color: #FFE9BD;
    color: #e75055;
    width: 66px !important;
    height: 66px;
    padding: 12px;
    margin: -34px 0px 0px 0px;
    border: 3px solid #FEC85B;
    border-radius: 50%;
    z-index: 1;
}

/*becomes visible on hover*/
.featureTopicsArea:hover .title {
    opacity: 1;
    color: rgb(3, 0, 0);
}



.dataList {
    background-color: white;
    position: absolute;
    z-index: 1;
}

.feature_bg {
    background-color: #f8ce79;
}

.feature_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 60px 0 70px;
}

.featureHead {
    font-family: "mastro-caption";
    font-size: 56px;
    letter-spacing: -1px;
    padding: 90px 0 34px;
    color: #C62E4A;
}

.featureSubHead {
    font-family: "mastro-caption";
    font-size: 18px;
    padding: 0px 0 0px;
}



.featureIconPosition {
    margin: 0 60px 0 0;
}




.button {
    width: 150px;
    /* set a width so it doesnt change upon hover */
    border: 0px solid #004B84;
    padding: 3px 21px;
}

.button:hover span {
    display: none
}

.button:hover:before {
    content: " Completed! do this in this way";
}

.button:hover {
    /* background-color: green; */
}








/* media query sectin start */

@media (max-width: 1024px) {
    .featureIconPosition {
        margin: 0 56px 0 0;
    }
}

@media (min-width: 1024px) and (max-width: 1439.98px) {

    .featureIcon {
        width: 55px !important;
        height: 55px;
        padding: 12px;
        margin: -29px 0px 0px 0px;
    }

    .feature_items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 30px 0 8px;
    }

    .featureTopicsArea {
        position: relative;
        background-color: #FFE9BD;
        border-radius: 25px;
        margin-bottom: 40px;
        /* padding: 24px 10px; */

    }

    .featureTopics {
        padding: 40px 0px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .feature_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 30px 0 8px;
    }

    .featureIconPosition {
        margin: 0 60px 0 0;
    }



    .featureTopicsArea {
        position: relative;
        background-color: #FFE9BD;
        border-radius: 25px;
        margin-bottom: 40px;
        /* padding: 24px 10px; */
    }

    .featureTopics {
        padding: 35px 0px;
    }

    .featureHead {
        font-size: 36px;
        letter-spacing: -1px;
        padding: 30px 0 13px;
    }

    .featureSubHead {
        font-family: "mastro-caption";
        font-size: 14px;
        padding: 0px 0 0px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .featureHead {
        font-size: 28px;
        padding: 40px 0 34px;
    }


    .featureSubHead {
        font-size: 15px;
    }

    .featureTopicsArea {
        position: relative;
        background-color: #FFE9BD;
        border-radius: 25px;
        margin-bottom: 40px;
        /* padding: 24px 10px; */
    }

    .feature_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 0px 12px;
    }

    .featureIcon {
        width: 50px !important;
        height: 50px;
        padding: 12px;
        margin: -28px 0px 0px 0px;
    }

    .featureTopics {
        font-size: 12px;
        padding: 30px 0px;
    }

    .title {
        font-size: 12px;
        padding: 20px 10px 0px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {

    .feature_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 30px 0 8px;
    }

    .featureHead {
        font-size: 23px;
        letter-spacing: -1px;
        padding: 30px 0 13px;
    }

    .featureSubHead {
        font-family: "mastro-caption";
        font-size: 11px;
        padding: 0px 0 0px;
    }

    .featureTopics {
        font-size: 12px;
        padding: 38px 0px;
    }

    .featureTopicsArea {
        background-color: #FFE9BD;
        border-radius: 25px;
        margin-bottom: 40px;
        /* padding: 20px 0px; */
    }

    .title {
        font-size: 10px;
        padding: 0px 8px;
        line-height: 12px;
        padding: 5px 5px 0px;
    }

    .featureIcon {
        width: 50px !important;
        height: 50px;
        padding: 12px;
        margin: -25px 0px 0px 0px;
    }

    .featureIconPosition {
        margin: 0 48px 0 0;
    }

}