.footer_bg {
    background-color: #17434C;
    margin-bottom: 0px;
}

.footer_logo {
    width: 120px;
}

.appStore {
    width: 132px;
    height: 45px;
}


.footer_btn {
    color: #b2adae;
    text-decoration: none;
    border-radius: 10px;
    border: 0;
}

.footer_btn:hover {
    color: white;
    background-color: rgba(153, 150, 150, 0.476);
    padding: 6px;
    border-radius: 8px;
}

.copyright_text {
    /* color: white */
}


@media (min-width: 768px) and (max-width: 1023.98px) {
    /* .footer_logo {
        width: 66px;
    } */

}