.secutiryTitle {
    font-family: 'mastro-caption';
    font-size: 24px;
    color: #0F393B;
    /* margin: 0; */
}

.securitySubTitle {
    font-family: 'mastro-caption';
    font-size: 14px;
    color: #0F393B;
    line-height: 25px;
    /* margin: 0; */
}

.paymentsAllTitle {
    font-family: 'mastro-caption';
    font-size: 45px;
    color: #C62E4A;
}

.securityRightSubTitle {
    font-family: 'mastro-caption';
    font-size: 14px;
    color: #0F393B;
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .paymentsAllTitle {
        font-size: 40px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .paymentsAllTitle {
        font-size: 28px;
    }
}


@media (min-width: 320px) and (max-width: 424.98px) {
    .paymentsAllTitle {
        font-size: 26px;
    }

}